@font-face {
    font-family: Vazir;
    src: url('font/Vazir.eot');
    src: url('font/Vazir.eot?#iefix') format('embedded-opentype'), url('font/Vazir.woff') format('woff'), url('font/Vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('font/Vazir-Bold.eot');
    src: url('font/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('font/Vazir-Bold.woff') format('woff'), url('font/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('font/Vazir-Light.eot');
    src: url('font/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('font/Vazir-Light.woff') format('woff'), url('font/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  direction: rtl;
  margin-bottom: 60px;
  font-family: Vazir;
}