
@{
    ViewData["Title"] = "About";
}
@section css {
    <style>
        .about-box {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            background-color: #333;
            color: white;
            font-size: 18px;
            line-height: 1.5;
        }

        h2.title {
            color: #FFC436;
            font-weight: bold;
        }

        .about-box p {
            text-align: justify;
            line-height: 26px;
        }
    </style>
}


<div class="about-box">
    <h2 class="title">About</h2>
    <p>
        I have always been interested in interesting things, and this was one of them. I wanted to know how many valid and meaningful permutations of a series of letters exist, and this thought led me to undertake this project. The focus has solely been on the outcome, and undoubtedly, this small project can be developed using better methods. I hope it helps you.
    </p>
</div>