
@{
    ViewData["Title"] = "Contact";
}
@section css {
    <style>
        h3 {
            color: #FFC436;
            font-weight: bold;
        }
    </style>
}
<h3 align="left">Connect with me:</h3>
<p align="left">
    <a href="https://linkedin.com/in/danial-darvish-778769215" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/linked-in-alt.svg" alt="danial-darvish-778769215" height="30" width="40" /></a>
    <a href="https://stackoverflow.com/users/14345682" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/stack-overflow.svg" alt="14345682" height="30" width="40" /></a>
    <a href="https://instagram.com/danial_darvish" target="blank"><img align="center" src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/master/src/images/icons/Social/instagram.svg" alt="danial_darvish" height="30" width="40" /></a>
</p>