@model PermutationDto
@{
    ViewData["Title"] = "Permutation";
}


<form asp-controller="Home" asp-action="Index" method="post">
    <input asp-for="Text" type="text" />
    <input asp-for="Number" type="number" />
    <button type="submit">Go</button>
    @if (TempData["ErrorMessage"] != null)
    {
        <p class="text-danger">@TempData["ErrorMessage"]</p>
    }
</form>

<br />
@if (Model != null && !string.IsNullOrEmpty(Model.Text))
{
    <p>@Model.Words.Count کلمه از @Model.AllCount حالت موجود</p>
}
<h1>کلمات: </h1>
<br />
@if (Model != null && Model.Words.Any())
{
    @foreach (var word in Model.Words)
    {
        <p>@word</p>
    }
}
else
{
    <p>کلمه ای یافت نشد</p>
}
